[build]
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/webhook/*"
  to = "/.netlify/functions/telegram-webhook"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
